.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-style: normal;
}
.lustria-regular {
    font-family: "Lustria", serif;
    font-style: normal;
}

header{
    font-family: "Sedan SC", serif;
    font-size: 3vh;
    margin: 0;
    background-color: #713f12;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    z-index: 0;
}
header h2{
    margin-left: 25px;
    font-size: 6vh;
}

html{
    font-family: "Lustria", serif;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("https://img.freepik.com/fotos-gratis/fundo-bonito-da-igreja_23-2149285695.jpg?ga=GA1.1.116615494.1715215519");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
}

.contentMainPage{
    display: flex;
    gap: 10vw;
    margin-top: 3vh;
    margin-right: 5vw;
}
#loginForm{
    background-color: #996637;
    width: 25vw;
    height: 60vh;
    margin-left: 20vh;
    margin-bottom: 5vh;
    border-radius: 2vh;
    box-shadow:  0px 10px 60px black;
    transition: 0.5s; 
    display: flex;
    justify-content: center;
    gap: 1.7vh;
    align-items: center;
    flex-direction: column;
}
#login{
    background-color: #996637;
    width: 25vw;
    height: 60vh;
    margin-left: 20vh;
    margin-bottom: 5vh;
    border-radius: 2vh;
    box-shadow:  0px 10px 60px black;
    transition: 0.5s; 
    display: flex;
    justify-content: center;
    gap: 1.7vh;
    align-items: center;
    flex-direction: column;
}

.inputLogin{
    display: flex;
    flex-direction: column;
    gap: 0.2vh;
    align-items: self-start;
}
.inputLogin input{
    background-color:#713f12;
    width: 20vw;
    height: 4vh;
    border-radius: 1vh;
    border: none; 
    color: white;
    outline: none;
    transition: 0.2s;
    font-size: 2vh;
    padding-left: 20px;
}
.inputLogin input:focus{
    box-shadow:  0px 10px 50px black;

}
#buttonForm{
    background-color:rgb(58, 53, 53);
    width: 20vw;
    height: 4vh;
    border-radius: 10px;
    border: none;  
    color: #ffffff;
    margin-top: 2vh;
    cursor: pointer;
    transition: 0.1s;
    font-size: 2vh;
}
#buttonForm:active{
    background-color: black;
    box-shadow:  0px 10px 50px black;
}
  
#containerWelcome{
    background-color: rgba(82, 74, 74, 0.356);
    width: 50vw;
    height: 47vh; 
    border-radius: 1vh;
    font-size: 3.5vh;
    padding: 2vh;
    transition: 0.5s;
    }

#containerWelcome:hover{
    transform: scale(1.02);
}

.buttonsNav button{
    height: 5vh;
    width: 6vw;
    border-radius: 1vh;
    border: none;
    background-color: #996637;
    color: white;
    font-weight: bold;
    transition: 0.1s;
    font-size: 2vh;
    text-decoration: none;
}
.buttonsNav button a{

    color: white;
    font-weight: bold;
    font-size: 2vh;
    text-decoration: none;
}
.buttonsNav {
    display: flex;
    gap: 2vw;
    margin-top: 2vh;
    margin-right: 2vh;
}
.buttonsNav button:active{
    background-color: #4b2605;
    box-shadow:  0px 2px 8px #4b2605;
}
.buttonsNav button:hover{
    border: solid 2px #4b2605;
}

span{
    color: white;
    font-size: 1.5vh;
    margin-left: 1vh;
}

#loginForm{
    background-color: #996637;
    width: 25vw;
    height: 50vh;
    margin-left: 55vh;
    border-radius: 2vh;
    box-shadow:  0px 10px 60px black;
    transition: 0.5s; 
    display: none;
    justify-content: center;
    gap: 5vh;
    align-items: center;
    flex-direction: column;
}

#loginForm h2{
    gap: 0;
    margin: 0;
    padding: 0;
    margin-top: 5vh;
    font-size: 3vh;
}

#loginForm:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

#buttonFormLogin{
    background-color:rgb(58, 53, 53);
    width: 20vw;
    height: 4vh;
    border-radius: 10px;
    border: none;  
    color: #ffffff;
    margin-top: 4vh;
    cursor: pointer;
    transition: 0.1s;
    font-size: 2vh;
    margin-bottom: 10vh;
}

#buttonFormLogin:active{
    background-color: black;
    box-shadow:  0px 10px 50px black;
}

#loginForm a{
    text-decoration: none;
    color: white;
    margin-bottom: -3vh;
}
.submitLogin2{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

dialog{
    border: solid 2px #713f12;
    background-color: #4b2605ba;
    color: white;
    width: 30vw;
    height: 15vh;
    border-radius: 2vh;
    text-align: center;
    font-size: 3vh;
    box-shadow: 0 1vh 2vh 0 #4b2605;
}

dialog button{
    width: 10vw;
    height: 3vh;
    border-radius: 1vh;
    color: white;
    background-color: #996637;
    border: none;
    font-size: 2vh;

}
  